.article-content {
	width: 90%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow: auto;
	margin: 0 auto;
}

#coder_popup {
	width: 100vw;
	height: 32vh;
	background-color: #fcfcfc;
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 18px;
}

.coder_title {
	width: 100%;
	height: 2.4em;
	line-height: 2.4em;
	padding-left: 1em;
	box-sizing: border-box;
	border-bottom: 1px #ececec solid;
	color: #696969;
	font-weight: bold;
}

.coder_list {
	margin: 0.5em 1em 0 1em;
	height: calc(100% - 2.9em);
	overflow: auto;
}

.coder_list_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.coder_list_item>div {
	width: auto;
	padding: 0 6px;
	height: 1.2em;
	line-height: 1.2em;
	background-color: #ececec;
	border-radius: 4px;
	color: #006cff;
	font-size: 14px;
	margin-left: 1em;
}

.coder_list_item>span {
	margin-left: 0.5em;
}

.coder_list_item>img:first-child {
	width: 30px;
	height: 30px;
	border-radius: 4px;
}

.coder_list_item>img:last-child {
	width: 24px;
	height: 24px;
	margin-left: auto;
}

.coder_show#coder_popup,.coder_show#coder_comments {
	z-index: 19;
	visibility: visible;
	animation: coder_fadeup 0.5s;
}

.coder_hidden#coder_popup,.coder_hidden#coder_comments {
	visibility: hidden;
	animation: coder_fadedown 0.5s;
}

#coder_mask {
	z-index: 9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(60, 60, 60, 0.5);
}

.coder_hidden#coder_mask {
	visibility: hidden;
	animation: coder_fadeout 0.5s;
}

.coder_show#coder_mask {
	visibility: visible;
	animation: coder_fadein 0.5s;
}

@keyframes coder_fadeup {
	from {
		bottom: -32vh;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

@keyframes coder_fadedown {
	from {
		bottom: 0;
		opacity: 1;
	}

	to {
		bottom: -32vh;
		opacity: 0;
	}
}

@keyframes coder_fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes coder_fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#coder_comments {
	height: 80vh;
	width: 100vw;
	position: fixed;
	bottom: 0;
	overflow: auto;
	background-color: #FFFFFF;
}

#coder_comments>div {
	font-size: 14px;
	width: 92%;
	margin: 0 auto;
	padding: 2%;
	
}

.coder_comments_user {
	display: flex;
	justify-content: flex-start;
	height: auto;
}

.coder_comments_userInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 10px;
}

.coder_comments_userInfo>span:first-child {}

.coder_comments_userInfo>span:last-child {
	font-size: 12px;
	color: #999999;
}

.coder_comments_user>img {
	width: 36px;
	height: 36px;
	border-radius: 18px;
}

.coder_comments_detail {
	margin: 10px 0 0 18px;
}

.coder_comments_func {
	margin-top: 10px;
	font-size: 14px;
	color: #999999;
	display: flex;
	justify-content: flex-start;
}

.coder_comments_func>span:first-child {
	margin-right: auto;
}

.coder_comments_func>span:nth-child(3) {
	margin-left: 20px;
	margin-right: 10px;
}

.coder_comments_answer {
	margin-left: 18px;
	margin-top: 10px;
	padding: 10px;
	background-color: #F6F6F6;
}
